<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Reestablecer Password
        p Hola, has solicitado reestablecer tu contraseña de Uptask, has click en el enlace para reestablecerlo, este solo dura un dia, si se vence vuelve a solicitar el cambio de contraseña
        a(href=`${resetUrl}`) Ir a reestablecer tu contraseña
        p Si no puedes acceder a este enlace visita #{resetUrl}
        p Si no solicitaste este E-mail, puedes ignorar este mensaje